<form method="post" action="{{ path('context_delete', {'id': context.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ context.id) }}">
    <button class="btn btn-outline-dark me-2">Delete</button>
</form>
