{% extends 'base.html.twig' %}

{% block title %}New Context{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Context</h1>

    {{ include('context/_form.html.twig') }}

    <a class="btn btn-outline-dark me-2" href="{{ path('context_index') }}">back to list</a>
</div>
{% endblock %}
